* {
  backface-visibility: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

h2 {
  text-transform: uppercase;
}

button, ::-webkit-file-upload-button {
  border: none;
  background: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  height: 43px;
}

select {
  padding: 10px 20px;
  -webkit-appearance: none;
  border: none;
  background: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  height: 43px;
  margin-bottom: 10px;
}

input[type="file"] {
  font-size: 16px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  margin-bottom: 10px;
}

#puzzle {
  /*border: 1px solid teal;*/
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  transition: 100ms;
  transform: translate3d(0,0,0);
}

.tile-img {
  height: 100%;
  width: 100%;
}

#reset {
  display: none;
  margin-top: 20px;
}

#canvas {
  display: none;
}
